 body {
      font-family: Arial;
      text-align: center;
      margin-top: 50px;
      background-color: orange;
      height: 90vh;
      display: flex;
      justify-content: center;
      text-align: center;
    }
    #quiz-container {
      width: 300px;
      margin: auto;
      border: 2px solid #555;
      padding: 20px;
      border-radius: 10px;
      font-family: 'Times New Roman', Times, serif;
    }
    button {
        background-color: wheat;
      display: block;
      width: 100%;
      margin: 8px 0;
      padding: 10px;
      cursor: pointer;
      color: green;
      font-family: Georgia, 'Times New Roman', Times, serif;

    }
    #feedback {
      font-weight: bold;
      margin-top: 10px;
    }